@model ProjetoIntranet.MV.MVlinkEGrupo
@Recursos.Resources.Culture

@{
    ViewBag.Title = "AssociarLinksEGrupos";
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@helper selected(string c, string culture, string View = "AssociarLinksEGrupos")
{
if (c == culture)
{
        @:checked="checked"
    }
}

<div class="row">
    @using (Html.BeginForm("SetCulture", "Menu", new { View = "AssociarLinksEGrupos" }))
    {

        <div id="language-icons" class="col-md-offset-10 col-sm-offset-10">
            <button href="" id="pt-Br" value="pt-Br" selected("pt-Br", culture) name="culture" type="submit">
                <img src="~/Resources/pt_br.png" alt="ícone bandeira Brasileira" title="@Recursos.Resources.Portugues" type="submit" />

            </button>
            <button href="" id="en-us" value="en-us" selected("en-us", culture) type="submit" name="culture">
                <img src="~/Resources/en_us.png" alt="ícone bandeira Americana" title="@Recursos.Resources.Ingles" type="submit" />
            </button>
        </div>
    }
</div>

<h2>@Recursos.Resources.AssociarLinks</h2>



    <div class="container">
        @using (Html.BeginForm("AssociarLinksEGrupos", "Menu", FormMethod.Post))
        {
            @Html.AntiForgeryToken()



            <div class="row">

                <div class="container">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title" style="text-align:center">@Recursos.Resources.Links</h3>
                        </div>
                        <div class="panel-body" style="overflow-y:scroll;overflow-x:scroll;width:100%;height:20%">

                            <table class="table">
                                <tr>

                                    <th>
                                        @Html.DisplayNameFor(model => model.ListaDeLinks[0].id)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ListaDeLinks[0].url)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ListaDeLinks[0].nome)
                                    </th>

                                </tr>



                                @foreach (var link in Model.ListaDeLinks)
                                {

                                    <tr>

                                        <td>
                                            @Html.DisplayFor(modelItem => link.id)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => link.url)
                                        </td>


                                        <td>
                                            @Html.DisplayFor(modelItem => link.nome)
                                        </td>

                                        <td>

                                            <input type="checkbox" name="checkLink" class="checkLinks" id="@link.id" value="@link.id">

                                        </td>

                                    </tr>
                                }



                            </table>


                        </div>


                    </div>


                </div>


            </div>

            <div class="row">


                <div class="container">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title" style="text-align:center">@Recursos.Resources.Grupos</h3>
                        </div>

                        <div class="panel-body" style="overflow-y:scroll;overflow-x:scroll;width:100%;height:20%">

                                                      

                                <div class="container ">

                                   
                                    @Html.DropDownList("ListaGruposAssociar",Model.ListaDeGrupos, "Selecione um grupo")

                                </div>


                            

                        </div>

                    </div>





                </div>



            </div>

            <div class="row">
                <div class="container">

                    <input type="button" id="btn_salvar_Associacao" value="@Recursos.Resources.Salvar" class="btn btn-success">

                    <input type="reset" value="@Recursos.Resources.Cancelar" class="btn btn-danger">


                </div>

            </div>




        }
    </div>
   


<div class="container ajuda">
    <div class="modal fade" id="feedbackAssociarGrupoLink" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">


                <div class="alert alert-success" role="alert" style="margin-bottom:0px;">
                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                    <span class="sr-only">Success:</span>
                    <b>@Recursos.Resources.AssociacaoRealizada</b>
                </div>



            </div>
        </div>
    </div>
</div>


<div class="container ajuda">
    <div class="modal fade" id="feedbackAssociarGrupoErro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">


                <div class="alert alert-danger" role="alert" style="margin-bottom:0px;">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    <b>Nenhum link marcado!</b>
                </div>



            </div>
        </div>
    </div>
</div>