@model PagedList.IPagedList<ProjetoIntranet.Models.Entity.Postagem>
@using PagedList.Mvc
@using PagedList
@Recursos.Resources.Culture


@{
    ViewBag.Title = "ListarPorDataPostagens";
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@helper selected(string c, string culture, string View = "ListarPorDataPostagens")
{
if (c == culture)
{
        @:checked="checked"
    }
}



<div class="row">
    @using (Html.BeginForm("SetCulture", "Postagens", new { View = "ListarPorDataPostagens" }))
    {

        <div id="language-icons" class="col-md-offset-10 col-sm-offset-10">
            <button href="" id="pt-Br" value="pt-Br" selected("pt-Br", culture) name="culture" type="submit">
                <img src="~/Resources/pt_br.png" alt="ícone bandeira Brasileira" title="@Recursos.Resources.Portugues" type="submit" />

            </button>
            <button href="" id="en-us" value="en-us" selected("en-us", culture) type="submit" name="culture">
                <img src="~/Resources/en_us.png" alt="ícone bandeira Americana" title="@Recursos.Resources.Ingles" type="submit" />
            </button>
        </div>
    }
</div>


<h2>@Recursos.Resources.PostagensCadastradas</h2>


<div class="row">

    @using (Html.BeginForm("ListarPorTituloPostagens", "Postagens", FormMethod.Post))
    {
        <p> <b>@Recursos.Resources.PesquisarTítulo</b></p>
        <div class="col-lg-8 col-md-8 col-sm-8">
            @Html.Label(@Recursos.Resources.PesquisarPorTítulo, new { @for = "titulo" })
            @Html.TextBox("titulo", null, new { @class = "form-control" })
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4">

            <button type="submit" class="btn btn-success" style="margin-top:29px;" title="@Recursos.Resources.cliqueParaPesquisar"><span class="glyphicon glyphicon-search"> </span></button>

        </div>
    }
</div>

<div class="row">

    @using (Html.BeginForm("ListarPorDataPostagens", "Postagens", FormMethod.Post))
    {
        <p><b>@Recursos.Resources.PesquisarPorData</b></p>

        <div class="col-lg-8 col-md-8 col-sm-8">



            <div class="col-lg-6 col-md-6 col-sm-6">
                @Html.Label(@Recursos.Resources.DataInicial, new { @for = "dataInicial" })

                @Html.TextBox("dataInicial", null, new { @class = "form-control" })
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">

                @Html.Label(@Recursos.Resources.DataFinal, new { @for = "dataFim" })

                @Html.TextBox("dataFim", null, new { @class = "form-control" })
            </div>

        </div>

        <div class="col-lg-4 col-md-4 col-sm-4">

            <button type="submit" class="btn btn-success" style="margin-top:29px;" title="@Recursos.Resources.cliqueParaPesquisar"><span class="glyphicon glyphicon-search"> </span></button>

        </div>

    }

</div>
<br>

<div class="container" style="overflow-x:scroll">


    <div class="row">

        <table class="table">

            <tr>
                <th>
                    @Html.DisplayName(@Recursos.Resources.Numero)
                </th>
                <th>
                    @Html.DisplayName(Recursos.Resources.Corpo)
                </th>
                <th>
                    @Html.DisplayName(@Recursos.Resources.Titulo)

                </th>
                <th>
                    @Html.DisplayName(Recursos.Resources.Etiqueta)
                </th>
                <th>
                    @Html.DisplayName(Recursos.Resources.Imagens)
                </th>
            </tr>

            @foreach (var Postagem in Model)
            {
                using (Html.BeginForm("ExcluirPostagem", "Postagens", new { id = Postagem.id }))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => Postagem.id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Postagem.corpo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Postagem.titulo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Postagem.etiqueta)
                        </td>
                        <td>
                            @if (Postagem.imagensPostagens != null)
                            {
                                foreach (var itemImagem in Postagem.imagensPostagens)
                                {
                                    <br />
                                    <div class="item branding">
                                        <img src="data:image;base64, @System.Convert.ToBase64String(itemImagem.imagem)" width="150" height="30" />
                                    </div>
                                }
                            }

                        </td>

                        <td>

                            <button type="submit" class="btn btn-large btn btn-danger glyphicon glyphicon-trash" title="clique para apagar a postagem" id="Postagem.id" onclick="return confirm('deseja realmente excluir esta postagem?')"></button>

                        </td>

                    </tr>
                }
            }
        </table>
        Página @Model.PageNumber de @Model.PageCount
        @Html.PagedListPager(Model, Page => Url.Action("ListarPorDataPostagens", new { pagina = Page }))

    </div>

</div>

<div class="container">
    <div class="modal fade" id="feedbackExcluirPostagem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="alert alert-success" role="alert" style="margin-bottom:0px;">
                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    <b>Excluido com sucesso!</b>
                </div>

            </div>
        </div>
    </div>
</div>